Diagnostics:
  ClangTidy:
    Add: [
      modernize*,
      bugprone*,
      performance*,
      readability*
    ]
    Remove: [
      modernize-use-trailing-return-type,
      modernize-avoid-c-arrays,
      readability-magic-numbers,
      readability-implicit-bool-conversion,
      readability-identifier-length,
      bugprone-easily-swappable-parameters
    ]

Completion:
  AllScopes: Yes